doctype html
html 
	head
		link(rel="stylesheet", href="./main.css", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	body.thebody
		h1.index1 Welcome to our Page!
		h2.index2 Do you want to search for someone? 
		h2.index2 Do you want to add your name to our user list? Try it out!
		a(href="./formpage")
			button.button(type=button) Add your name
		a(href="./users")
			button.button(type=button) Check all our users
		a(href="./search")
			button.button(type=button) Search for users 
		br
		iframe#img(src="https://giphy.com/embed/X33wdAkkvx1LO", width="480", height="272", frameBorder="0", class="giphy-embed", allowFullScreen)

