doctype html
html 
	head
		link(rel="stylesheet", href="./main.css", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	body.thebody
		h1.index1 Welcome
		h2.index2 Do you want to search for someone? 
		h2.index2 Do you want to add your name to our user list? Try it out!
		br
		br
		a(href="./search")
			button.buttontwo(type=button) Search
		a(href="./users")
			button.buttontwo(type=button) All Users
		a(href="./formpage")
			button.buttontwo(type=button) Add User
		
		br
		br
		
		iframe#img(src="https://giphy.com/embed/X33wdAkkvx1LO", width="480", height="272", frameBorder="0", class="giphy-embed", allowFullScreen)

