doctype html
html
	head
		link(rel="stylesheet", href="main.css", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	body.thebody
		h1 Results:
		br
		if info === undefined
			p No match found! Sorry, try again.
		else
			p We found who you were looking for! #{info}