doctype html
html
	head
		link(rel="stylesheet", href="main.css", type="text/css")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
	body.thebody
		br
		form(name="form", method="post", action="/searchfound")
			label(for="search") Search our users 
			br
			br
			input(name="name", type="text", placeholder="Users i.e. Harry Potter")

			input(type="submit", value="Search!") 


